service firebase.storage {
  match /b/{bucket}/o {
    function isApprovedMember() {
      return request.auth != null && request.auth.token.accessApproved == true;
    }

    match /{allPaths=**} {
      allow read, write: if isApprovedMember();
    }
  }
}
